<head>
  <link rel="stylesheet" href="/contact.css">
</head>
<h1>Let's get in touch</h1>
<form action="/submit" method="POST">      
  <input name="name" type="text" class="feedback-input" placeholder="Name" required/>   
  <input name="email" type="email" class="feedback-input" placeholder="Email" required/>
  <textarea name="text" class="feedback-input" placeholder="Comment"required></textarea>
  <input type="submit" value="SUBMIT"/>
</form>
