<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/timeline.css">
</head>
<div class="container">
<div class="timeline">
		<div class="timeline-row">
			<div class="timeline-time">
				2019
			</div>
			<div class="timeline-content">
				<i class="icon-attachment"></i>
				<h4 class = "white">Skills learnt: Block coding & basic physics</h4>
				<p class = "white">I started my programming journey on scratch. Here is a project that I made at the time:</p>
       <a href = "https://scratch.mit.edu/projects/743762274/" target="_blank"><img width="407px"  src="/mario.png" alt="Mario game"></a> 
				<div class="thumbs">
					
					
				</div>
				<div class="">
					<p class="white">↑ Click on the mario img above ↑</p>
				</div>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				2021
			</div>
			<div class="timeline-content">
				<i class="icon-code"></i>
				<h5 class = "white">Skills learnt: Beginner Swift & Basic programming concepts</h5>
        <center
				<p class = "white down">
			For a while I had stopped programming and then I started apple's beginner <strong>Swift playground</strong>
        </center>
          <img width="407px" src="/swift.jpg" alt="Mario game">
				</p>
				<div class="thumbs">
					<div class="thumbs">
				
					
					
				</div>
				</div>
				<div class="">

				</div>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				2022
			</div>
			<div class="timeline-content">
				<i class="icon-turned_in_not"></i>
				<h4 class = "white">Skills learnt: Python, Pygame and Tkinter</h4> 
				<p class = "white">After using Swift playground I really wanted to make my own games and do actual programming. I started learning python and switched to using replit.</p>
       	<a href = "https://replit.com/@SuperSaiyanCoding/2D-Sonic?v=1" target="_blank"><img width="203px" src="/sonic.gif" alt="Mario game"> </a>
         <!--
          <img width="100px" height = "100px" src="/pong.png" alt="Pong game">
          <img width="100px" height = "100px" src="/caculator.png" alt="Caculator app"> -->
					
				<div>
					<p class="white">↑ Click on the image above ↑</p>
          <a class = "white" href = "">View more python projects of mine</a>
				</div>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				2023
			</div>
			<div class="timeline-content">
				<i class="icon-directions"></i>
				<h4 class = "white">Skills learnt: html</h4>
        <img width="100px" src="/html.png" alt="html logo">
				<p class = "white">After learning some python I really wanted to create my own website so I started learning html.</p>
				
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				2023
			</div>
			<div class="timeline-content">
				<i class="icon-change_history"></i>
				<h4 class = "white">Skills learnt: Css, Bootstrap, Grid and web design</h4>
          <img width="100px" src="/css.png" alt="css logo">
				<p class="no-margin white">Of course after learning html I had to learn css.</p>
			
				
				</div>
	
			</div>
		

		<div class="timeline-row">
			<div class="timeline-time">
				2023
			</div>
			<div class="timeline-content">
				<i class="icon-code"></i>
					<h4 class = "white">Skills learnt: JS, JQuery, Kaboom.js and three.js</h4>
        
				<p class = "white">
					After css I started to make interactive websites using Javascript.
				</p>

        <a href = "https://drum-kit.supersaiyancoding.repl.co/" target="_blank"><img width = "407px" src="/drumkit.png" alt = "Drum kit app"></a>
				<div class="thumbs">
				
					
					
				</div>
				<div class="">
          <center>
					<p class="white">↑ Click on the image above ↑</p>
          <a class = "white" href = "views/update.ejs">View more javascript projects of mine</a>
            </center>
				</div>
			</div>
		</div>

		<div class="timeline-row">
			<div class="timeline-time">
				2023
			</div>
			<div class="timeline-content">
				<i class="icon-attachment"></i>
				<h4 class = "white">Skills learnt: Node.js, Express.js, EJS and API's</h4>
				<p class = "white">Currently at this momment I am learning backend web development.</p>
        
        <a href = "https://weather-app.supersaiyancoding.repl.co/" target="_blank"><img width = "407px" src="weather.png" alt = "weather app image"></a>
	
				<div class="">
					<p class="white">↑ Click on the image above ↑</p>
          <a class = "white" href = "">View more node.js/javascript projects of mine</a>
				</div>
			</div>
		</div>

		<div class="timeline-row">
      		<div class="timeline-time">
				2023 - 2024
			</div>
			<div class="timeline-content">
				<p class="m-0 white">In the future I'm thinking of learning MongoDB or React</p>
			</div>
		</div>

	</div>
</div>
</div>
